<!-- Default form cars -->

<form [formGroup]="carService.formModel" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4">Registration</p>

  <!-- Immatriculation -->
  <div class="form-group">
    <input type="text" id="defaultImmatriculationCar" formControlName="immatriculation" class="form-control" placeholder="Immatriculation">
  </div>

  <!-- Password -->
  <div class="form-group">
    <!-- Nombre de places -->
    <input type="text" id="defaultNbPlacesCar" formControlName="placenb" class="form-control" placeholder="Nombre de places disponibles">
  </div>

  <!-- Sign up button -->
  <div class="form-group">
    <button id="btn1" class="btn btn-info my-4 btn-block" type="submit">Enregistrez</button>
  </div>

</form>
