<!--&lt;!&ndash; Default form register &ndash;&gt;-->
<!--<div class="card">-->
<!--  <h2 class="card-header">Registration</h2>-->
<!--  <div class="card-body">-->
<!--    <alert></alert>-->

<!--    <mat-vertical-stepper [linear]="true" #stepper>-->
<!--&lt;!&ndash;      <form [formGroup]="userApiService.formModel" (ngSubmit)="onSubmit()">&ndash;&gt;-->


<!--      <mat-step [stepControl]="userApiService.formModel">-->


<!--      <ng-template matStepLabel>E-mail</ng-template>-->

<!--      &lt;!&ndash; E-mail &ndash;&gt;-->
<!--      <mat-form-field>-->
<!--        <input #myEmail matInput type="email" pattern="^\S+@\S+$" id="defaultRegisterFormEmail" placeholder="E-mail"-->
<!--               formControlName="email" required>-->
<!--      </mat-form-field>-->


<!--      <div>-->
<!--        <button mat-button matStepperNext [disabled]="!myEmail.validity.valid">Next</button>-->
<!--      </div>-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->

<!--      </mat-step>-->




<!--<mat-step [stepControl]="userApiService.formModel">-->
<!--  <form [formGroup]="userApiService.formModel">-->

<!--  <ng-template matStepLabel>Password</ng-template>-->

<!--  <mat-form-field>-->
<!--      &lt;!&ndash; Password &ndash;&gt;-->
<!--        <input matInput type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,15}$"-->
<!--               id="defaultRegisterFormPassword" placeholder="Password"-->
<!--               formControlName="password" class="form-control"-->

<!--               aria-describedby="defaultRegisterFormPasswordHelpBlock" #myPwd required>-->
<!--      </mat-form-field>-->

<!--  <div>-->
<!--    <button mat-button matStepperNext [disabled]="!myPwd.validity.valid">Next</button>-->
<!--  </div>-->

<!--</form>-->
<!--</mat-step>-->



<!--<mat-step>-->
<!--  <mat-form-field >-->
<!--    <ng-template matStepLabel>Confirm password</ng-template>-->
<!--      &lt;!&ndash; Confirm Password &ndash;&gt;-->
<!--        <input matInput type="password" id="defaultRegisterFormConfirmPassword" placeholder="Confirm password"-->
<!--               formControlName="confirmPassword" class="form-control"-->
<!--               [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"-->
<!--               aria-describedby="defaultRegisterFormConfirmPasswordHelpBlock">-->

<!--      </mat-form-field>-->

<!--        &lt;!&ndash; Sign up button &ndash;&gt;-->
<!--        <div class="form-group">-->
<!--          <button [disabled]="loading" id="btn1" class="btn btn-info btn-block" type="submit">-->
<!--            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--            Register-->
<!--          </button>-->
<!--        </div>-->

<!--</mat-step>-->

<!--&lt;!&ndash;    </form>&ndash;&gt;-->

<!--    </mat-vertical-stepper>-->


<!--  </div>-->
<!--</div>-->





<!-- Default form register -->
<div class="card">
  <h2 class="card-header">Registration</h2>
  <div class="card-body">
    <alert></alert>
    <form [formGroup]="userApiService.formModel" (ngSubmit)="onSubmit()">

      <!-- E-mail -->
      <div class="form-group">
        <input type="email" id="defaultRegisterFormEmail" placeholder="E-mail"
               formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="password" id="defaultRegisterFormPassword" placeholder="Password"
               formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
               aria-describedby="defaultRegisterFormPasswordHelpBlock">

        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.pattern">Password must be at least 8 characters and maximum 15 with one digit,
            one
            upper case and one lower case
          </div>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <input type="password" id="defaultRegisterFormConfirmPassword" placeholder="Confirm password"
               formControlName="confirmPassword" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
               aria-describedby="defaultRegisterFormConfirmPasswordHelpBlock">


        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>

      <!-- Sign up button -->
      <div class="form-group">
        <button [disabled]="loading" id="btn1" class="btn btn-info my-4 btn-block" type="submit">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
      </div>
    </form>
  </div>
</div>






