.card {
  width: 450px;
  border-radius: 20px !important;
}

.card-header{
  background-color: #049493;
  color: white;
}

.btn{
  background-color: #049493;
  border-radius: 15px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
