/*So when you hover your get pointer mouse*/
.mat-card {
  cursor: pointer;
  text-align: center;
  border-radius: 20px !important;
}

.mat-card:hover {
  transition: all 300ms ease-in;
  transform: scale(1.010);
  opacity: 1;
  border-radius: 10px;
}

.mat-card-image{
  max-width: 500px;
  max-height: 270px;
  border-radius: 10px;
}






