<!--
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
-->


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a href="/">HOME</a></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/Register">Register</a>
    <a mat-button routerLink="/Login">Login</a>
  </mat-toolbar-row>
</mat-toolbar>
