<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div aria-hidden="true" aria-labelledby="accountModalLabel" class="modal fade pl-0" id="accountModal" role="dialog"-->
<!--     tabindex="-1">-->
<!--  <div class="modal-dialog d-flex h-100 align-items-center" role="document">-->
<!--    <div class="container-fluid">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <div class="modal-content border-0">-->
<!--            <div class="modal-header bg-dark shadow-sm">-->
<!--              <h5 class="modal-title font-weight-bold" id="accountModalLabel">Account</h5>-->
<!--              <button aria-label="Close" class="close" data-dismiss="modal" type="button">-->
<!--                <i fa name="close" size="1x"></i>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--              <span>test</span>-->
<!--              <app-login *ngIf="!authService.currentUserValue"></app-login>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<h1 mat-dialog-title>Test</h1>-->
<!--<mat-dialog-content>-->
<!--  <app-login></app-login>-->
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--  <button mat-raised-button (click)="closeMe()">Close</button>-->
<!--</mat-dialog-actions>-->

<!-- Modal -->
<button id="openmodal" #openmodal [hidden]="true" data-toggle="modal" data-target="#accountModal"></button>
<div aria-hidden="true" aria-labelledby="accountModalLabel" class="modal fade pl-0" id="accountModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog d-flex h-100 align-items-center" role="document">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark shadow-sm">
              <h5 class="modal-title font-weight-bold" id="accountModalLabel">Account</h5>
              <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <i fa name="close" size="1x"></i>
              </button>
            </div>
            <div class="modal-body">
              <app-login *ngIf="!authService.currentUserValue"></app-login>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
