<mat-accordion>
  <mat-expansion-panel *ngFor="let item of requestItems">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="text-size">
          <div style="width:20px;height:20px;background-color:orange;"
               *ngIf="item.confirmation === 0"></div>
          <div style="width:20px;height:20px;background-color:green;"
               *ngIf="item.confirmation === 1"></div>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="text-size">
          <b>NOM : </b> {{item.lastname}} {{item.firstname}}
        </div>
      </mat-panel-description>
      <mat-panel-description>
        <div class="text-size">
          <b>Téléphone :</b>
          {{item.telephone}}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="text-size">
      <div *ngIf ="item.confirmation === 0">
        <b>Il est conseillé de prendre contact avec la personne avant d'accepter une demande de covoiturage</b>
        <p></p>
        <div><button class="btn btn-info my-4 btn-block"(click)="Accepter(item.idRequest)" >Accepter</button></div>
        <p></p>
        <div><button class="btn btn-info my-4 btn-block"(click)="Refuser(item.idRequest)" >Refuser</button></div>
      </div>
      <div *ngIf ="item.confirmation === 1">
        <div><button  class="btn btn-info my-4 btn-block" (click)="Retirer(item.idRequest)" >Retirer de la liste</button></div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
