<form [formGroup]="formModel" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4">Log in</p>

  <!-- E-Mail -->
  <div class="form-group">
    <input type="text" id="defaultEmail" formControlName="email" class="form-control" placeholder="E-Mail">
  </div>

  <!-- Password -->
  <div class="form-group">
    <!-- Nombre de places -->
    <input type="text" id="defaultPassword" formControlName="password" class="form-control" placeholder="Password">
  </div>

  <!-- Log in button -->
  <div class="form-group">
    <button id="btn1" class="btn btn-info my-4 btn-block" type="submit">Log in</button>
  </div>

</form>

<!-- Register -->
<p>Not a member?
  <a (click)="dialog()">Register</a>
</p>





<!-- Default form login -->

<!-- Default form register -->


<!--<mat-form-field> (ngSubmit)="onSubmit()" [formGroup]="form" class="pb-2 mb-1 mb-sm-0 text-dark font-weight-bold">
  <div class="row">

    <div class="col-10 offset-1">
      <div class="row">
    <span class="col col-sm-3">
      <label for="login">
          Login:
      </label>
    </span>
      </div>
      <div class="row">
    <span class="col">
      <input class="form-control form-control-sm" formControlName="login" id="login" name="login" type="text">
      <h6 *ngIf="!loginValid() && submitted" class="text-danger pl-1">Invalid login</h6>
    </span>
      </div>
      <div class="row mt-3">
    <span class="col">
      <label for="password">
          Password:
      </label>
    </span>
      </div>
      <div class="row">
    <span class="col">
      <input class="form-control form-control-sm" formControlName="password" id="password" name="password"
             type="password">
      <h6 *ngIf="!passwordValid() && submitted" class="text-danger pl-1">Invalid password</h6>
    </span>
      </div>
      <div *ngIf="error && !isSigningUp" class="row mt-2 text-danger font-weight-bold">
        <div class="col">
          <h6>{{error}}</h6>
        </div>
      </div>


      <div *ngIf="isSigningUp">
        <div class="row mt-3">
      <span class="col">
        <label for="passwordConfirm">
            Confirm password:
        </label>
      </span>
        </div>
        <div class="row mb-3">
      <span class="col">
        <input class="form-control form-control-sm" formControlName="passwordConfirm" id="passwordConfirm"
               name="passwordConfirm"
               type="password">
        <h6 *ngIf="submitted && !passwordConfirmValid()" class="text-danger pl-1">Invalid password confirmation</h6>
      </span>
        </div>

        <div class="row mt-3">
      <span class="col">
        <label for="firstName">
            First name:
        </label>
      </span>
        </div>
        <div class="row mb-3">
      <span class="col">
        <input class="form-control form-control-sm" formControlName="firstName" id="firstName" name="firstName"
               type="firstName">
        <h6 *ngIf="submitted && !firstNameValid()" class="text-danger pl-1">Invalid first name</h6>
      </span>
        </div>

        <div class="row mt-3">
      <span class="col">
        <label for="lastName">
            Last name:
        </label>
      </span>
        </div>
        <div class="row mb-3">
      <span class="col">
        <input class="form-control form-control-sm" formControlName="lastName" id="lastName" name="lastName"
               type="lastName">
        <h6 *ngIf="submitted && !lastNameValid()" class="text-danger pl-1">Invalid last name</h6>
      </span>
        </div>

        <div class="row mt-3">
      <span class="col">
        <label for="email">
            Email:
        </label>
      </span>
        </div>
        <div class="row mb-3">
      <span class="col">
        <input class="form-control form-control-sm" formControlName="email" id="email" name="email" type="email">
        <h6 *ngIf="submitted && !emailValid()" class="text-danger pl-1">Invalid email</h6>
      </span>
        </div>
      </div>


      <div class="mt-4">
        <div *ngIf="!isSigningUp" class="row">
          <div class="col d-flex justify-content-between">
            <div class="order-1">
              <button [disabled]="!isFormValid() || isLoading" class="btn btn-sm btn-dark mr-2">
                <div [hidden]="!isLoading" class="mr-1 spinner-border spinner-border-sm"></div>
                <h6 class="d-inline font-weight-bold">Login</h6>
              </button>
            </div>
            <div>
              <button (click)="useSignUpForm()" class="btn btn-sm btn-dark ml-1">
                <h6 class="d-inline font-weight-bold">Sign-up</h6>
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="isSigningUp" class="row">
          <div class="order-1">
            <button [disabled]="!isFormValid() || isLoading" class="btn btn-sm btn-dark mr-2">
              <div [hidden]="!isLoading" class="mr-1 spinner-border spinner-border-sm"></div>
              <h6 class="d-inline font-weight-bold">Confirm</h6>
            </button>
          </div>
          <div class="col d-flex justify-content-between">
            <div>
              <button (click)="useLoginForm()" class="btn btn-sm btn-dark ml-1">
                <h6 class="d-inline font-weight-bold">Login</h6>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-form-field>-->










