<!--<mat-horizontal-stepper #stepper >-->
<!--  <mat-step [stepControl]="firstFormGroup" errorMessage="Complétez tous les champs.">-->
<!--    <form [formGroup]="firstFormGroup">-->
<!--      <ng-template matStepLabel>Complétez vos données</ng-template>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Rue</mat-label>-->
<!--        <input matInput placeholder="Rue" formControlName="rue" required>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field>-->
<!--        <mat-label>Numero</mat-label>-->
<!--        <input matInput placeholder="Numero" formControlName="numero" required>-->
<!--      </mat-form-field>-->
<!--      <br>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Code Postal</mat-label>-->
<!--        <input matInput placeholder="CodePostal" formControlName="CodePostal" required>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field>-->
<!--        <mat-label>Ville</mat-label>-->
<!--        <input matInput placeholder="Ville" formControlName="Ville" required>-->
<!--      </mat-form-field>-->
<!--      <br>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Pays</mat-label>-->
<!--        <input matInput placeholder="Pays" formControlName="Pays" required>-->
<!--      </mat-form-field>-->

<!--      <div>-->
<!--        &lt;!&ndash;<p>Go to a different step to see the error state</p>&ndash;&gt;-->
<!--        <button mat-button matStepperNext>Next</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </mat-step>-->
<!--  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">-->
<!--    <form [formGroup]="secondFormGroup">-->
<!--      <ng-template matStepLabel>Fill out your address</ng-template>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Address</mat-label>-->
<!--        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"-->
<!--               required>-->
<!--      </mat-form-field>-->
<!--      <div>-->
<!--        <p>Go to a different step to see the error state</p>-->
<!--        <button mat-button matStepperPrevious>Back</button>-->
<!--        <button mat-button matStepperNext>Next</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </mat-step>-->
<!--  <mat-step>-->
<!--    <ng-template matStepLabel>Done</ng-template>-->
<!--    <p>You are now done.</p>-->
<!--    <div>-->
<!--      <button mat-button matStepperPrevious>Back</button>-->
<!--      <button mat-button (click)="stepper.reset()">Reset</button>-->
<!--    </div>-->
<!--  </mat-step>-->

<!--</mat-horizontal-stepper>-->
