<mat-tab-group (selectedTabChange)="onTabChanged($event)">
  <mat-tab label="Profile">
    <app-profile></app-profile>
  </mat-tab>
  <mat-tab label="Identifiants">
    <app-identifiants></app-identifiants>
  </mat-tab>

  <mat-tab label="Demandes">
    <app-carpooling-request></app-carpooling-request>
  </mat-tab>
  <mat-tab label="Envois">
    <app-carpooling-sender></app-carpooling-sender>
  </mat-tab>

  <div *ngIf="haveAddress === true">
  <mat-tab label="Mon covoiturage">
    <app-carpooling-profile></app-carpooling-profile>
  </mat-tab>
  </div>

</mat-tab-group>

