<!-- Button de changement de disposition des modules -->
<button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
  <span *ngIf="gridColumns === 3">Trois colonnes</span>
  <span *ngIf="gridColumns === 2">Deux colonnes</span>
</button>



<!--fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%"-->

<!-- Boucle des différents modules -->
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5]">
    <mat-card class="mat-elevation-z4" >

      <!-- titres des images -->
      <mat-card-header>

        <ng-template [ngIf]="num==1">
          <div>
            <mat-card-title>Inscrire sa voiture au covoiturage</mat-card-title>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==2">
          <div>
            <mat-card-title>Chercher une voiture pour le covoitureur</mat-card-title>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==3">
          <div>
            <mat-card-title>S'incrire en tant que tuteur</mat-card-title>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==4">
          <div>
            <mat-card-title>Chercher un tuteur</mat-card-title>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==5">
          <div>
            <mat-card-title>Commander à la cafétaria</mat-card-title>
          </div>
        </ng-template>

      </mat-card-header>

      <!-- lien des images -->

      <ng-template [ngIf]="num==1">
        <img mat-card-image src="./../assets/images/voiture.jpg" >
      </ng-template>
      <ng-template [ngIf]="num==2">
        <img mat-card-image src="./../assets/images/voiture.jpg" >
      </ng-template>
      <ng-template [ngIf]="num==3">
        <img mat-card-image src="./../assets/images/livre.jpg" height="230">
      </ng-template>
      <ng-template [ngIf]="num==4">
        <img mat-card-image src="./../assets/images/livre.jpg" height="230">
      </ng-template>
      <ng-template [ngIf]="num==5">
        <img mat-card-image src="./../assets/images/restauration.jpg" height="230">
      </ng-template>


      <!-- Phrase du module -->
      <mat-card-content>


        <ng-template [ngIf]="num==1">
          <div>
            <p>
              Lien d'inscription de sa voiture au covoiturage
            </p>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==2">
          <div>
            <p>
              Lien de recherche d'une voiture
            </p>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==3">
          <div>
            <p>
              Lien du d'inscription du tuteur
            </p>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==4">
          <div>
            <p>
              Lien de recherche d'un tuteur
            </p>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==5">
          <div>
            <p>
              Lien de commande de la cafétaria
            </p>
          </div>
        </ng-template>


      </mat-card-content>

      <!-- Lien du module -->
      <mat-card-actions>


        <ng-template [ngIf]="num==1">
          <div>
            <!--<button mat-button [routerLink]="'register-auto'" (click)="[routerLink]">LINK</button>-->
            <button mat-button [routerLink]="menuItems[0].path" (click)="menuItems[0].click()" fxHide.xs>
              <mat-icon class="mr">{{menuItems[0].icon}}</mat-icon>
              {{menuItems[0].label}}
            </button>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==2">
          <div>
            <!--<button mat-button [routerLink]="'register-auto'" (click)="[routerLink]">LINK</button>-->
            <button mat-button [routerLink]="menuItems[1].path" (click)="menuItems[1].click" fxHide.xs>
              <mat-icon class="mr">{{menuItems[1].icon}}</mat-icon>
              {{menuItems[1].label}}
            </button>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==3">
          <div>
            <button mat-button>LINK</button>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==4">
          <div>
            <button mat-button>LINK</button>
          </div>
        </ng-template>

        <ng-template [ngIf]="num==5">
          <div>
            <button mat-button>LINK</button>
          </div>
        </ng-template>


      </mat-card-actions>


    </mat-card>
  </div>
</div>
