
  <mat-toolbar color="primary">
<!--    <div fxShow="true" fxHide.gt-sm="true">-->

    <div fxHide.gt-sm>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/home">
      <span>HELHa</span>
    </a>
    <span fxFlex>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">

      <!-- Home -->
      <button mat-button *ngIf="checkUserHasProfile()"
             [routerLink]="menuItems[0].path"
             (click)="menuItems[0].click()" >
           <mat-icon class="mr">{{menuItems[0].icon}}</mat-icon>
         {{menuItems[0].label}}
      </button>

      <!--    Register-->
      <button mat-button *ngIf="!checkUserHasProfile()"
              [routerLink]="menuItems[1].path"
              (click)="menuItems[1].click()" >
        <mat-icon class="mr">{{menuItems[1].icon}}</mat-icon>
        {{menuItems[1].label}}
      </button>

      <!--    Login-->
      <button mat-button *ngIf="!checkUserHasProfile()"
              [routerLink]="menuItems[2].path"
              (click)="menuItems[2].click()" >
        <mat-icon class="mr">{{menuItems[2].icon}}</mat-icon>
        {{menuItems[2].label}}
      </button>

      <!--    Covoiturage-->
      <button *ngIf="checkUserHasProfile()" mat-button [matMenuTriggerFor]="carpoolingMenu" ><mat-icon>directions_car</mat-icon>
        Covoiturage
      </button>

      <mat-menu #carpoolingMenu="matMenu">
        <button [routerLink]="'/carpooling-register'" mat-menu-item ><mat-icon>create</mat-icon >S'inscrire</button>
        <button [routerLink]="'/carpooling-research'" mat-menu-item ><mat-icon>place</mat-icon>Rechercher</button>
      </mat-menu>

      <button *ngIf="checkUserHasProfile()" mat-button [matMenuTriggerFor]="tutoratMenu" ><mat-icon>school</mat-icon>
        Tutorat
      </button>
      <mat-menu #tutoratMenu="matMenu">
        <button [routerLink]="" mat-menu-item ><mat-icon>create</mat-icon>Proposer</button>
        <button [routerLink]="" mat-menu-item ><mat-icon>place</mat-icon>Rechercher</button>
      </mat-menu>

    </div>

  </span>

    <span>
<button *ngIf="checkUserHasProfile()" mat-button [matMenuTriggerFor]="testMenu">
  <mat-icon>person</mat-icon>
  {{profile.firstname}}
  {{profile.lastname}}
</button>

<mat-menu #testMenu="matMenu">
  <button [routerLink]="'/my-profile'" mat-menu-item><mat-icon>contacts</mat-icon>Mon compte</button>
  <button mat-menu-item (click)="onLogoutClick()"><mat-icon>exit_to_app</mat-icon>Déconnecter</button>
</mat-menu>

  </span>

  </mat-toolbar>
