<!-- Contient le menu de navigation du site, la menu bar est dans un mat-toolbar (element material
      design, un boucle crée un nombre de boutons avec ces items en fonction des boutons créer dans header.ts -->
<mat-toolbar fxLayout="row" color="primary" [class.mat-elevation-z3]="true">
  <span fxFlex>HELHa
    <!--    <button mat-button *ngFor="let item of menuItems" [hidden]="item.isVisible" [routerLink]="item.path"-->
    <!--            (click)="item.click()" fxHide.xs>-->
    <!--      <mat-icon class="mr">{{item.icon}}</mat-icon>-->
    <!--      {{item.label}}-->
    <!--    </button>-->
    <!--    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>-->
    <!--     <mat-icon>more_vert</mat-icon>-->
    <!--    </button>-->

    <!--Menu on the left-->
    <!--    <mat-menu #dropMenu="matMenu">-->
    <!--      <ng-container *ngFor="let item of menuItems">-->
    <!--       <button mat-menu-item [routerLink]="item.path" (click)="item.click()">-->
    <!--          <mat-icon class="mr">{{item.icon}}</mat-icon>-->
    <!--         {{item.label}}-->
    <!--        </button>-->
    <!--        <mat-divider></mat-divider>-->
    <!--      </ng-container>-->
    <!--   </mat-menu>-->

    <!--    Home-->
    <button mat-button *ngIf="userService.userValue"
            [routerLink]="menuItems[0].path"
            (click)="menuItems[0].click()" fxHide.xs>
      <mat-icon class="mr">{{menuItems[0].icon}}</mat-icon>
      {{menuItems[0].label}}
    </button>

        <mat-menu>
      <ng-container>
       <button mat-menu-item [routerLink]="menuItems[0].path" (click)="menuItems[0].click()">
          <mat-icon class="mr">{{menuItems[0].icon}}</mat-icon>
         {{menuItems[0].label}}
        </button>
      </ng-container>
   </mat-menu>

    <!--    Register-->
    <button mat-button *ngIf="!userService.userValue"
            [routerLink]="menuItems[1].path"
            (click)="menuItems[1].click()" fxHide.xs>
      <mat-icon class="mr">{{menuItems[1].icon}}</mat-icon>
      {{menuItems[1].label}}
    </button>


        <mat-menu>
      <ng-container>
       <button mat-menu-item [routerLink]="menuItems[1].path" (click)="menuItems[1].click()">
          <mat-icon class="mr">{{menuItems[1].icon}}</mat-icon>
         {{menuItems[1].label}}
        </button>
      </ng-container>
   </mat-menu>

    <!--    Login-->
    <button mat-button *ngIf="!userService.userValue"
            [routerLink]="menuItems[2].path"
            (click)="menuItems[2].click()" fxHide.xs>
      <mat-icon class="mr">{{menuItems[2].icon}}</mat-icon>
      {{menuItems[2].label}}
    </button>

        <mat-menu>
      <ng-container>
       <button mat-menu-item [routerLink]="menuItems[2].path" (click)="menuItems[2].click()">
          <mat-icon class="mr">{{menuItems[2].icon}}</mat-icon>
         {{menuItems[2].label}}
        </button>
      </ng-container>
   </mat-menu>

<!--    Covoiturage-->
    <button *ngIf="userService.userValue" mat-button [matMenuTriggerFor]="carpoolingMenu"><mat-icon>directions_car</mat-icon>
Covoiturage
</button>
<mat-menu #carpoolingMenu="matMenu">
  <button [routerLink]="'/carpooling-register'" mat-menu-item><mat-icon>create</mat-icon>S'inscrire</button>
  <button [routerLink]="'/carpooling-research'" mat-menu-item><mat-icon>place</mat-icon>Rechercher</button>
</mat-menu>



  <button *ngIf="userService.userValue" mat-button [matMenuTriggerFor]="tutoratMenu"><mat-icon>school</mat-icon>
    Tutorat
  </button>
  <mat-menu #tutoratMenu="matMenu">
      <button [routerLink]="" mat-menu-item><mat-icon>create</mat-icon>Proposer</button>
  <button [routerLink]="" mat-menu-item><mat-icon>place</mat-icon>Rechercher</button>
  </mat-menu>
     </span>

  <!--Menu on the right-->
  <span>
<button *ngIf="userService.userValue" mat-button [matMenuTriggerFor]="testMenu">
  <mat-icon>person</mat-icon>
  {{profile.firstname}}
  {{profile.lastname}}
</button>

<mat-menu #testMenu="matMenu">
  <button [routerLink]="'/my-profile'" mat-menu-item><mat-icon>contacts</mat-icon>Mon compte</button>
  <button mat-menu-item (click)="onLogoutClick()"><mat-icon>exit_to_app</mat-icon>Déconnecter</button>
</mat-menu>

  </span>

</mat-toolbar>

