<!--
<mat-toolbar>
  <span>Login</span>
</mat-toolbar>

<mat-card >
  <mat-card-content>

    <form class="my-form" [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  placeholder="Email" name="email" formControlName="email">
        <h6 *ngIf="!loginValid() && submitted" class="text-danger pl-1">Invalid login</h6>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput  placeholder="Password" name="password" formControlName="password">
        <h6 *ngIf="!passwordValid() && submitted" class="text-danger pl-1">Invalid password</h6>
      </mat-form-field>
      <div *ngIf="error && !isSigningUp" class="row mt-2 text-danger font-weight-bold">
        <div class="col">
          <h6>{{error}}</h6>
        </div>
      </div>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button  [disabled]="form.invalid" color="primary">LOGIN</button>
  </mat-card-actions>

</mat-card>

-->


<form (ngSubmit)="onSubmit()" [formGroup]="form" class="pb-2 mb-1 mb-sm-0 text-dark font-weight-bold">
  <div class="row">
    <!--    LOGIN-->
    <div class="col-10 offset-1">
      <div class="row mt-3">
          <span class="col">
            <label for="email">
                Email:
            </label>
          </span>
      </div>
      <div class="row">
        <span class="col">
          <input class="form-control form-control-sm" formControlName="email" id="e-mail" name="email" type="text">
          <h6 *ngIf="!emailValid() && submitted" class="text-danger pl-1">Invalid e-mail</h6>
        </span>
      </div>
      <div class="row mt-3">
        <span class="col">
          <label for="password">
              Password:
          </label>
        </span>
      </div>
      <div class="row">
        <span class="col">
          <input class="form-control form-control-sm" formControlName="password" id="password" name="password"
                 type="password">
          <h6 *ngIf="!passwordValid() && submitted" class="text-danger pl-1">Invalid password</h6>
        </span>
      </div>
      <div *ngIf="error && !isSigningUp" class="row mt-2 text-danger font-weight-bold">
        <div class="col">
          <h6>{{error}}</h6>
        </div>
      </div>

      <!--PASSWORD CONFIRMATION-->
      <div *ngIf="isSigningUp">
        <div class="row mt-3">
          <span class="col">
            <label for="passwordConfirm">
                Confirm password:
            </label>
          </span>
        </div>
        <div class="row mb-3">
          <span class="col">
            <input class="form-control form-control-sm" formControlName="passwordConfirm" id="passwordConfirm" name="passwordConfirm"
                   type="password">
            <h6 *ngIf="submitted && !passwordConfirmValid()" class="text-danger pl-1">Invalid password confirmation</h6>
          </span>
        </div>

        <div class="row mb-3">
          <span class="col">
            <input class="form-control form-control-sm" formControlName="email" id="email" name="email" type="email">
            <h6 *ngIf="submitted && !emailValid()" class="text-danger pl-1">Invalid email</h6>
          </span>
        </div>
      </div>

      <!--      WHEN LOGGING-->
      <div class="mt-4">
        <div *ngIf="!isSigningUp" class="row">
          <div class="col d-flex justify-content-between">
            <div class="order-1">
              <button [disabled]="!isFormValid() || isLoading" class="btn btn-sm btn-dark mr-2">
                <div [hidden]="!isLoading" class="mr-1 spinner-border spinner-border-sm"></div>
                <h6 class="d-inline font-weight-bold">Login</h6>
              </button>
            </div>
            <div>
              <button (click)="useSignUpForm()" class="btn btn-sm btn-dark ml-1">
                <h6 class="d-inline font-weight-bold">Sign-up</h6>
              </button>
            </div>
          </div>
        </div>

        <!--        WHEN SIGNING UP-->
        <div *ngIf="isSigningUp" class="row">
          <div class="order-1">
            <button [disabled]="!isFormValid() || isLoading" class="btn btn-sm btn-dark mr-2">
              <div [hidden]="!isLoading" class="mr-1 spinner-border spinner-border-sm"></div>
              <h6 class="d-inline font-weight-bold">Confirm</h6>
            </button>
          </div>
          <div class="col d-flex justify-content-between">
            <div>
              <button (click)="useLoginForm()" class="btn btn-sm btn-dark ml-1">
                <h6 class="d-inline font-weight-bold">Login</h6>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>







