<div class="card">
  <h1 class="card-header">Mon Addresse</h1>
  <div class="card-body">
    <ul class="list-group">

      <li class="list-group-item"><strong class="text-size">Rue : </strong>
        <label class="text-size" [hidden]="isHidden[0]">{{this.address.street}}</label>
        <input class="text-size" [hidden]="!isHidden[0]" type="text" id="street" #street
               [value]="this.address.street">
        <mat-icon [hidden]="isHidden[0]" (click)="changeHidden(0)">create</mat-icon>
        <mat-icon class="close" [hidden]="!isHidden[0]" (click)="changeHidden(0)">close</mat-icon>
        <mat-icon class="open" [hidden]="!isHidden[0]" (click)="confirmChange(0)">check</mat-icon>
      </li>

      <li class="list-group-item"><strong class="text-size">Numéro : </strong>
        <label class="text-size" [hidden]="isHidden[1]">{{this.address.number}}</label>
        <input class="text-size" [hidden]="!isHidden[1]" type="number" id="number" #number
               [value]="this.address.number">
        <mat-icon [hidden]="isHidden[1]" (click)="changeHidden(1)">create</mat-icon>
        <mat-icon class="close" [hidden]="!isHidden[1]" (click)="changeHidden(1)">close</mat-icon>
        <mat-icon class="open" [hidden]="!isHidden[1]" (click)="confirmChange(1)">check</mat-icon>
      </li>


      <li class="list-group-item"><strong class="text-size">Code postal : </strong>
        <label class="text-size" [hidden]="isHidden[2]">{{this.address.postalCode}}</label>
        <input class="text-size" [hidden]="!isHidden[2]"  type="number" id="postalCode"
               [value]="this.address.postalCode" #postalCode>
        <mat-icon [hidden]="isHidden[2]" (click)="changeHidden(2)">create</mat-icon>
        <mat-icon class="close" [hidden]="!isHidden[2]" (click)="changeHidden(2)">close</mat-icon>
        <mat-icon class="open" [hidden]="!isHidden[2]" (click)="confirmChange(2)">check</mat-icon>
      </li>


      <li class="list-group-item"><strong class="text-size">Ville : </strong>
        <label class="text-size" [hidden]="isHidden[3]">{{this.address.city}}</label>
        <input class="text-size" [hidden]="!isHidden[3]" type="text" id="city"
               [value]="this.address.city" #city>
        <mat-icon [hidden]="isHidden[3]" (click)="changeHidden(3)">create</mat-icon>
        <mat-icon class="close" [hidden]="!isHidden[3]" (click)="changeHidden(3)">close</mat-icon>
        <mat-icon class="open" [hidden]="!isHidden[3]" (click)="confirmChange(3)">check</mat-icon>
      </li>


      <li class="list-group-item"><strong class="text-size">Pays : </strong>
        <label class="text-size" [hidden]="isHidden[4]">{{this.address.country}}</label>
        <input class="text-size" [hidden]="!isHidden[4]" type="text" id="country" #country
               [value]="this.address.country">
        <mat-icon [hidden]="isHidden[4]" (click)="changeHidden(4)">create</mat-icon>
        <mat-icon class="close" [hidden]="!isHidden[4]" (click)="changeHidden(4)">close</mat-icon>
        <mat-icon class="open" [hidden]="!isHidden[4]" (click)="confirmChange(4)">check</mat-icon>
      </li>


    </ul>
  </div>
</div>

<div class="card">
  <h1 class="card-header">Ma voiture</h1>
  <div class="card-body">
    <ul class="list-group">

      <li class="list-group-item"><strong class="text-size">Plaque d'immatriculation : </strong>
        <label class="text-size" [hidden]="isHidden[5]">{{this.car.immatriculation}}</label>
        <input class="text-size" [hidden]="!isHidden[5]" type="text" id="immatriculation" #immatriculation
               [value]="this.car.immatriculation">
        <mat-icon [hidden]="isHidden[5]" (click)="changeHidden(5)">create</mat-icon>
        <mat-icon class="close" [hidden]="!isHidden[5]" (click)="changeHidden(5)">close</mat-icon>
        <mat-icon class="open" [hidden]="!isHidden[5]" (click)="confirmChange(5)">check</mat-icon>
      </li>

      <li class="list-group-item"><strong class="text-size">Places disponibles : </strong>
        <label class="text-size" [hidden]="isHidden[6]">{{this.car.placeNb}}</label>
        <input class="text-size" [hidden]="!isHidden[6]" type="number" id="placeNb" #placeNb
               [value]="this.car.placeNb">
        <mat-icon [hidden]="isHidden[6]" (click)="changeHidden(6)">create</mat-icon>
        <mat-icon class="close" [hidden]="!isHidden[6]" (click)="changeHidden(6)">close</mat-icon>
        <mat-icon class="open" [hidden]="!isHidden[6]" (click)="confirmChange(6)">check</mat-icon>
      </li>
      <div><button class="btn btn-info my-4 btn-block"(click)="Rajouter()" >Rajouter sa voiture dans la liste de coivoiturage</button></div>
      <div><button class="btn btn-info my-4 btn-block"(click)="Retirer()" >Retirer sa voiture de la liste de covoiturage</button></div>
      <div><b>Attention si vous vous retirez de la liste du covoiturage toutes les demandes qu'elles soient acceptées ou réfusées seront supprimées</b></div>
    </ul>
  </div>
</div>
